body {
    position: relative;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #333;
    color: white;
}