body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #aaa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle::after {
    content: "";
    background: white;
    width: 450px;
    height: 450px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: darkslateblue;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%, 0 100%,0 90%,50% 50%);
}

.percent {
    z-index: 1;
    font-size: 3rem;
    font-weight: bold;
}