body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-box {
    width: 750px;
    height: 150px;
    display: flex;
    position: relative;
}

.img-box > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    overflow: hidden;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
    background: url('./stars_fill.png');
}

.hover {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
}

.hover > label {
    width: 10%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.fill::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    transition: .5s;
}

#hover1:hover ~ .fill::before {width: 90%;}
#hover2:hover ~ .fill::before {width: 80%;}
#hover3:hover ~ .fill::before {width: 70%;}
#hover4:hover ~ .fill::before {width: 60%;}
#hover5:hover ~ .fill::before {width: 50%;}
#hover6:hover ~ .fill::before {width: 40%;}
#hover7:hover ~ .fill::before {width: 30%;}
#hover8:hover ~ .fill::before {width: 20%;}
#hover9:hover ~ .fill::before {width: 10%;}
#hover10:hover ~ .fill::before {width: 0;}
