* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.word-bg {
    width: 100%;
    height: 250px;
    background: #333;
}

.word-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    animation: animation 6s infinite linear;
}

.word-wrapper > span {
    font-weight: bold;
    color: white;
    font-size: 10rem;
    font-style: oblique;
    padding: 0 1rem;
}

@keyframes animation {
    100% {
        transform: translateX(calc(-66.666% + 10rem));
    }
}
