body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 100000000px;

}

.rect {
    width: 500px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    animation: 5s spin infinite linear;
}

.rect img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px solid black;
}

.rect img:nth-child(1) {
    transform: translateZ(250px);
}
.rect img:nth-child(2) {
    transform: rotateY(180deg) translateZ(250px);
}
.rect img:nth-child(3) {
    transform: rotateY(90deg) translateZ(250px);
}
.rect img:nth-child(4) {
    transform: rotateY(-90deg) translateZ(250px);
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}
